@page
@model RazorPagesSample.AddBookModel

@{
    ViewData["Title"] = "AddBook";
}

<h1>AddBook</h1>

<h4>BookModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookModel.Title" class="control-label"></label>
                <input asp-for="BookModel.Title" class="form-control" />
                <span asp-validation-for="BookModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookModel.Author" class="control-label"></label>
                <input asp-for="BookModel.Author" class="form-control" />
                <span asp-validation-for="BookModel.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookModel.PublishingCompany" class="control-label"></label>
                <input asp-for="BookModel.PublishingCompany" class="form-control" />
                <span asp-validation-for="BookModel.PublishingCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookModel.Category" class="control-label"></label>
                <input asp-for="BookModel.Category" class="form-control" />
                <span asp-validation-for="BookModel.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookModel.Price" class="control-label"></label>
                <input asp-for="BookModel.Price" class="form-control" />
                <span asp-validation-for="BookModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
